[submodule "frontend"]
	path = frontend
	url = git@github.com:interacoes/interacoes-front.git
	branch = dspace
[submodule "backend"]
	path = backend
	url = https://github.com/interacoes/interacoes-backend.git
